Conexion unigis/Connected Services/WS_UNIGIS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://unisolutions.com.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://unisolutions.com.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://unisolutions.com.ar/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroSerie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Latitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Longitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Altitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Velocidad" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Rumbo" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaHoraEvento" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaHoraRecepcion" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Crudo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarEventoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYInsertarEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Eventos" type="tns:ArrayOfPEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="pEvento" nillable="true" type="tns:pEvento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="pEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Dominio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroSerie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitud" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitud" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Altitud" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Velocidad" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaHoraEvento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaHoraRecepcion" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginYInsertarEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginYInsertarEventosResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginYInsertarEvento2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroSerie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Latitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Longitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Altitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Velocidad" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaHoraEvento" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaHoraRecepcion" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Valido" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Sensores" type="tns:ArrayOfPSensor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPSensor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="pSensor" nillable="true" type="tns:pSensor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="pSensor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginYInsertarEvento2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginYInsertarEvento2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYInsertarEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroSerie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Latitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Longitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Altitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Velocidad" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaHoraEvento" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaHoraRecepcion" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYInsertarEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginYInsertarEventoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InSession">
        <s:complexType />
      </s:element>
      <s:element name="InSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerComando">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerComandoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerComandoResult" type="tns:Comando" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Comando">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CMD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNIDAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EQUIPO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMERO" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComandoProcesado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NUMERO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="correcto" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComandoProcesadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComandoProcesadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoComando">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NUMERO" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MSG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoComandoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EstadoComandoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AntiguaClave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NuevaClave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiarClaveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYCambiarClave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NuevaClave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYCambiarClaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginYCambiarClaveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYObtenerComando">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYObtenerComandoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginYObtenerComandoResult" type="tns:Comando" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYComandoProcesado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NUMERO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="correcto" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYComandoProcesadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginYComandoProcesadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYEstadoComando">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NUMERO" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MSG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYEstadoComandoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginYEstadoComandoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarVehiculosEnViaje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarVehiculosEnViajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarVehiculosEnViajeResult" type="tns:ArrayOfVehiculo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVehiculo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vehiculo" nillable="true" type="tns:Vehiculo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehiculo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Dominio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroSerie" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaUltimoReporte" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaRegistracion" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
      <s:element name="Comando" nillable="true" type="tns:Comando" />
      <s:element name="ArrayOfVehiculo" nillable="true" type="tns:ArrayOfVehiculo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarEvento" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventosSoapIn">
    <wsdl:part name="parameters" element="tns:LoginYInsertarEventos" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventosSoapOut">
    <wsdl:part name="parameters" element="tns:LoginYInsertarEventosResponse" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEvento2SoapIn">
    <wsdl:part name="parameters" element="tns:LoginYInsertarEvento2" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEvento2SoapOut">
    <wsdl:part name="parameters" element="tns:LoginYInsertarEvento2Response" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventoSoapIn">
    <wsdl:part name="parameters" element="tns:LoginYInsertarEvento" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginYInsertarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="InSessionSoapIn">
    <wsdl:part name="parameters" element="tns:InSession" />
  </wsdl:message>
  <wsdl:message name="InSessionSoapOut">
    <wsdl:part name="parameters" element="tns:InSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerComandoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerComando" />
  </wsdl:message>
  <wsdl:message name="ObtenerComandoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerComandoResponse" />
  </wsdl:message>
  <wsdl:message name="ComandoProcesadoSoapIn">
    <wsdl:part name="parameters" element="tns:ComandoProcesado" />
  </wsdl:message>
  <wsdl:message name="ComandoProcesadoSoapOut">
    <wsdl:part name="parameters" element="tns:ComandoProcesadoResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoComandoSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoComando" />
  </wsdl:message>
  <wsdl:message name="EstadoComandoSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoComandoResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="LoginYCambiarClaveSoapIn">
    <wsdl:part name="parameters" element="tns:LoginYCambiarClave" />
  </wsdl:message>
  <wsdl:message name="LoginYCambiarClaveSoapOut">
    <wsdl:part name="parameters" element="tns:LoginYCambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="LoginYObtenerComandoSoapIn">
    <wsdl:part name="parameters" element="tns:LoginYObtenerComando" />
  </wsdl:message>
  <wsdl:message name="LoginYObtenerComandoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginYObtenerComandoResponse" />
  </wsdl:message>
  <wsdl:message name="LoginYComandoProcesadoSoapIn">
    <wsdl:part name="parameters" element="tns:LoginYComandoProcesado" />
  </wsdl:message>
  <wsdl:message name="LoginYComandoProcesadoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginYComandoProcesadoResponse" />
  </wsdl:message>
  <wsdl:message name="LoginYEstadoComandoSoapIn">
    <wsdl:part name="parameters" element="tns:LoginYEstadoComando" />
  </wsdl:message>
  <wsdl:message name="LoginYEstadoComandoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginYEstadoComandoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarVehiculosEnViajeSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarVehiculosEnViaje" />
  </wsdl:message>
  <wsdl:message name="ConsultarVehiculosEnViajeSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarVehiculosEnViajeResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpGetIn" />
  <wsdl:message name="LogoutHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoHttpGetIn">
    <wsdl:part name="Dominio" type="s:string" />
    <wsdl:part name="NroSerie" type="s:string" />
    <wsdl:part name="Codigo" type="s:string" />
    <wsdl:part name="Latitud" type="s:string" />
    <wsdl:part name="Longitud" type="s:string" />
    <wsdl:part name="Altitud" type="s:string" />
    <wsdl:part name="Velocidad" type="s:string" />
    <wsdl:part name="Rumbo" type="s:string" />
    <wsdl:part name="FechaHoraEvento" type="s:string" />
    <wsdl:part name="FechaHoraRecepcion" type="s:string" />
    <wsdl:part name="Crudo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventoHttpGetIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Dominio" type="s:string" />
    <wsdl:part name="NroSerie" type="s:string" />
    <wsdl:part name="Codigo" type="s:string" />
    <wsdl:part name="Latitud" type="s:string" />
    <wsdl:part name="Longitud" type="s:string" />
    <wsdl:part name="Altitud" type="s:string" />
    <wsdl:part name="Velocidad" type="s:string" />
    <wsdl:part name="FechaHoraEvento" type="s:string" />
    <wsdl:part name="FechaHoraRecepcion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventoHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="InSessionHttpGetIn" />
  <wsdl:message name="InSessionHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ObtenerComandoHttpGetIn" />
  <wsdl:message name="ObtenerComandoHttpGetOut">
    <wsdl:part name="Body" element="tns:Comando" />
  </wsdl:message>
  <wsdl:message name="ComandoProcesadoHttpGetIn">
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="correcto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComandoProcesadoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="EstadoComandoHttpGetIn">
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="MSG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EstadoComandoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveHttpGetIn">
    <wsdl:part name="AntiguaClave" type="s:string" />
    <wsdl:part name="NuevaClave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginYCambiarClaveHttpGetIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NuevaClave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYCambiarClaveHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginYObtenerComandoHttpGetIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYObtenerComandoHttpGetOut">
    <wsdl:part name="Body" element="tns:Comando" />
  </wsdl:message>
  <wsdl:message name="LoginYComandoProcesadoHttpGetIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="correcto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYComandoProcesadoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginYEstadoComandoHttpGetIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="MSG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYEstadoComandoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ConsultarVehiculosEnViajeHttpGetIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarVehiculosEnViajeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfVehiculo" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpPostIn" />
  <wsdl:message name="LogoutHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoHttpPostIn">
    <wsdl:part name="Dominio" type="s:string" />
    <wsdl:part name="NroSerie" type="s:string" />
    <wsdl:part name="Codigo" type="s:string" />
    <wsdl:part name="Latitud" type="s:string" />
    <wsdl:part name="Longitud" type="s:string" />
    <wsdl:part name="Altitud" type="s:string" />
    <wsdl:part name="Velocidad" type="s:string" />
    <wsdl:part name="Rumbo" type="s:string" />
    <wsdl:part name="FechaHoraEvento" type="s:string" />
    <wsdl:part name="FechaHoraRecepcion" type="s:string" />
    <wsdl:part name="Crudo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventoHttpPostIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Dominio" type="s:string" />
    <wsdl:part name="NroSerie" type="s:string" />
    <wsdl:part name="Codigo" type="s:string" />
    <wsdl:part name="Latitud" type="s:string" />
    <wsdl:part name="Longitud" type="s:string" />
    <wsdl:part name="Altitud" type="s:string" />
    <wsdl:part name="Velocidad" type="s:string" />
    <wsdl:part name="FechaHoraEvento" type="s:string" />
    <wsdl:part name="FechaHoraRecepcion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventoHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="InSessionHttpPostIn" />
  <wsdl:message name="InSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ObtenerComandoHttpPostIn" />
  <wsdl:message name="ObtenerComandoHttpPostOut">
    <wsdl:part name="Body" element="tns:Comando" />
  </wsdl:message>
  <wsdl:message name="ComandoProcesadoHttpPostIn">
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="correcto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComandoProcesadoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="EstadoComandoHttpPostIn">
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="MSG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EstadoComandoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveHttpPostIn">
    <wsdl:part name="AntiguaClave" type="s:string" />
    <wsdl:part name="NuevaClave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginYCambiarClaveHttpPostIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NuevaClave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYCambiarClaveHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginYObtenerComandoHttpPostIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYObtenerComandoHttpPostOut">
    <wsdl:part name="Body" element="tns:Comando" />
  </wsdl:message>
  <wsdl:message name="LoginYComandoProcesadoHttpPostIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="correcto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYComandoProcesadoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginYEstadoComandoHttpPostIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="NUMERO" type="s:string" />
    <wsdl:part name="MSG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginYEstadoComandoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ConsultarVehiculosEnViajeHttpPostIn">
    <wsdl:part name="SystemUser" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarVehiculosEnViajeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfVehiculo" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticacion necesaria para la operacion por parte de los prestadores</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cierre de sesion explicito por parte del prestador</wsdl:documentation>
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta un evento, reconoce el prestador por medio del login previo</wsdl:documentation>
      <wsdl:input message="tns:InsertarEventoSoapIn" />
      <wsdl:output message="tns:InsertarEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEventos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea e inserta multiples eventos en modo batch</wsdl:documentation>
      <wsdl:input message="tns:LoginYInsertarEventosSoapIn" />
      <wsdl:output message="tns:LoginYInsertarEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea e inserta un evento indicando ademas de incorporar los sensores</wsdl:documentation>
      <wsdl:input message="tns:LoginYInsertarEvento2SoapIn" />
      <wsdl:output message="tns:LoginYInsertarEvento2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea e inserta un evento</wsdl:documentation>
      <wsdl:input message="tns:LoginYInsertarEventoSoapIn" />
      <wsdl:output message="tns:LoginYInsertarEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InSession">
      <wsdl:input message="tns:InSessionSoapIn" />
      <wsdl:output message="tns:InSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:ObtenerComandoSoapIn" />
      <wsdl:output message="tns:ObtenerComandoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComandoProcesado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indica que el comando ya fue procesado</wsdl:documentation>
      <wsdl:input message="tns:ComandoProcesadoSoapIn" />
      <wsdl:output message="tns:ComandoProcesadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para informar el estado del comando, retorna verdadero su fue insertado correctamente</wsdl:documentation>
      <wsdl:input message="tns:EstadoComandoSoapIn" />
      <wsdl:output message="tns:EstadoComandoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para el cambio de clave, retorna verdadero si la clave es realmente cambiada.</wsdl:documentation>
      <wsdl:input message="tns:CambiarClaveSoapIn" />
      <wsdl:output message="tns:CambiarClaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYCambiarClave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea cambia la clave, retorna verdadero si la clave es realmente cambiada.</wsdl:documentation>
      <wsdl:input message="tns:LoginYCambiarClaveSoapIn" />
      <wsdl:output message="tns:LoginYCambiarClaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYObtenerComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:LoginYObtenerComandoSoapIn" />
      <wsdl:output message="tns:LoginYObtenerComandoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYComandoProcesado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y finaliza un comando</wsdl:documentation>
      <wsdl:input message="tns:LoginYComandoProcesadoSoapIn" />
      <wsdl:output message="tns:LoginYComandoProcesadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYEstadoComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y actualiza el estado de un comando en proceso</wsdl:documentation>
      <wsdl:input message="tns:LoginYEstadoComandoSoapIn" />
      <wsdl:output message="tns:LoginYEstadoComandoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculosEnViaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:ConsultarVehiculosEnViajeSoapIn" />
      <wsdl:output message="tns:ConsultarVehiculosEnViajeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticacion necesaria para la operacion por parte de los prestadores</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cierre de sesion explicito por parte del prestador</wsdl:documentation>
      <wsdl:input message="tns:LogoutHttpGetIn" />
      <wsdl:output message="tns:LogoutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta un evento, reconoce el prestador por medio del login previo</wsdl:documentation>
      <wsdl:input message="tns:InsertarEventoHttpGetIn" />
      <wsdl:output message="tns:InsertarEventoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea e inserta un evento</wsdl:documentation>
      <wsdl:input message="tns:LoginYInsertarEventoHttpGetIn" />
      <wsdl:output message="tns:LoginYInsertarEventoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InSession">
      <wsdl:input message="tns:InSessionHttpGetIn" />
      <wsdl:output message="tns:InSessionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:ObtenerComandoHttpGetIn" />
      <wsdl:output message="tns:ObtenerComandoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ComandoProcesado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indica que el comando ya fue procesado</wsdl:documentation>
      <wsdl:input message="tns:ComandoProcesadoHttpGetIn" />
      <wsdl:output message="tns:ComandoProcesadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para informar el estado del comando, retorna verdadero su fue insertado correctamente</wsdl:documentation>
      <wsdl:input message="tns:EstadoComandoHttpGetIn" />
      <wsdl:output message="tns:EstadoComandoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para el cambio de clave, retorna verdadero si la clave es realmente cambiada.</wsdl:documentation>
      <wsdl:input message="tns:CambiarClaveHttpGetIn" />
      <wsdl:output message="tns:CambiarClaveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYCambiarClave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea cambia la clave, retorna verdadero si la clave es realmente cambiada.</wsdl:documentation>
      <wsdl:input message="tns:LoginYCambiarClaveHttpGetIn" />
      <wsdl:output message="tns:LoginYCambiarClaveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYObtenerComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:LoginYObtenerComandoHttpGetIn" />
      <wsdl:output message="tns:LoginYObtenerComandoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYComandoProcesado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y finaliza un comando</wsdl:documentation>
      <wsdl:input message="tns:LoginYComandoProcesadoHttpGetIn" />
      <wsdl:output message="tns:LoginYComandoProcesadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYEstadoComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y actualiza el estado de un comando en proceso</wsdl:documentation>
      <wsdl:input message="tns:LoginYEstadoComandoHttpGetIn" />
      <wsdl:output message="tns:LoginYEstadoComandoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculosEnViaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:ConsultarVehiculosEnViajeHttpGetIn" />
      <wsdl:output message="tns:ConsultarVehiculosEnViajeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticacion necesaria para la operacion por parte de los prestadores</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cierre de sesion explicito por parte del prestador</wsdl:documentation>
      <wsdl:input message="tns:LogoutHttpPostIn" />
      <wsdl:output message="tns:LogoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta un evento, reconoce el prestador por medio del login previo</wsdl:documentation>
      <wsdl:input message="tns:InsertarEventoHttpPostIn" />
      <wsdl:output message="tns:InsertarEventoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea e inserta un evento</wsdl:documentation>
      <wsdl:input message="tns:LoginYInsertarEventoHttpPostIn" />
      <wsdl:output message="tns:LoginYInsertarEventoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InSession">
      <wsdl:input message="tns:InSessionHttpPostIn" />
      <wsdl:output message="tns:InSessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:ObtenerComandoHttpPostIn" />
      <wsdl:output message="tns:ObtenerComandoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ComandoProcesado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indica que el comando ya fue procesado</wsdl:documentation>
      <wsdl:input message="tns:ComandoProcesadoHttpPostIn" />
      <wsdl:output message="tns:ComandoProcesadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para informar el estado del comando, retorna verdadero su fue insertado correctamente</wsdl:documentation>
      <wsdl:input message="tns:EstadoComandoHttpPostIn" />
      <wsdl:output message="tns:EstadoComandoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para el cambio de clave, retorna verdadero si la clave es realmente cambiada.</wsdl:documentation>
      <wsdl:input message="tns:CambiarClaveHttpPostIn" />
      <wsdl:output message="tns:CambiarClaveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYCambiarClave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loguea cambia la clave, retorna verdadero si la clave es realmente cambiada.</wsdl:documentation>
      <wsdl:input message="tns:LoginYCambiarClaveHttpPostIn" />
      <wsdl:output message="tns:LoginYCambiarClaveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYObtenerComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:LoginYObtenerComandoHttpPostIn" />
      <wsdl:output message="tns:LoginYObtenerComandoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYComandoProcesado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y finaliza un comando</wsdl:documentation>
      <wsdl:input message="tns:LoginYComandoProcesadoHttpPostIn" />
      <wsdl:output message="tns:LoginYComandoProcesadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginYEstadoComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y actualiza el estado de un comando en proceso</wsdl:documentation>
      <wsdl:input message="tns:LoginYEstadoComandoHttpPostIn" />
      <wsdl:output message="tns:LoginYEstadoComandoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculosEnViaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el login y retorna el primer comando de la lista</wsdl:documentation>
      <wsdl:input message="tns:ConsultarVehiculosEnViajeHttpPostIn" />
      <wsdl:output message="tns:ConsultarVehiculosEnViajeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://unisolutions.com.ar/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://unisolutions.com.ar/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <soap:operation soapAction="http://unisolutions.com.ar/InsertarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEventos">
      <soap:operation soapAction="http://unisolutions.com.ar/LoginYInsertarEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento2">
      <soap:operation soapAction="http://unisolutions.com.ar/LoginYInsertarEvento2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento">
      <soap:operation soapAction="http://unisolutions.com.ar/LoginYInsertarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSession">
      <soap:operation soapAction="http://unisolutions.com.ar/InSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerComando">
      <soap:operation soapAction="http://unisolutions.com.ar/ObtenerComando" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComandoProcesado">
      <soap:operation soapAction="http://unisolutions.com.ar/ComandoProcesado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoComando">
      <soap:operation soapAction="http://unisolutions.com.ar/EstadoComando" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap:operation soapAction="http://unisolutions.com.ar/CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYCambiarClave">
      <soap:operation soapAction="http://unisolutions.com.ar/LoginYCambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYObtenerComando">
      <soap:operation soapAction="http://unisolutions.com.ar/LoginYObtenerComando" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYComandoProcesado">
      <soap:operation soapAction="http://unisolutions.com.ar/LoginYComandoProcesado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYEstadoComando">
      <soap:operation soapAction="http://unisolutions.com.ar/LoginYEstadoComando" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculosEnViaje">
      <soap:operation soapAction="http://unisolutions.com.ar/ConsultarVehiculosEnViaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://unisolutions.com.ar/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://unisolutions.com.ar/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <soap12:operation soapAction="http://unisolutions.com.ar/InsertarEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEventos">
      <soap12:operation soapAction="http://unisolutions.com.ar/LoginYInsertarEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento2">
      <soap12:operation soapAction="http://unisolutions.com.ar/LoginYInsertarEvento2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento">
      <soap12:operation soapAction="http://unisolutions.com.ar/LoginYInsertarEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSession">
      <soap12:operation soapAction="http://unisolutions.com.ar/InSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerComando">
      <soap12:operation soapAction="http://unisolutions.com.ar/ObtenerComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComandoProcesado">
      <soap12:operation soapAction="http://unisolutions.com.ar/ComandoProcesado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoComando">
      <soap12:operation soapAction="http://unisolutions.com.ar/EstadoComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap12:operation soapAction="http://unisolutions.com.ar/CambiarClave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYCambiarClave">
      <soap12:operation soapAction="http://unisolutions.com.ar/LoginYCambiarClave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYObtenerComando">
      <soap12:operation soapAction="http://unisolutions.com.ar/LoginYObtenerComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYComandoProcesado">
      <soap12:operation soapAction="http://unisolutions.com.ar/LoginYComandoProcesado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYEstadoComando">
      <soap12:operation soapAction="http://unisolutions.com.ar/LoginYEstadoComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculosEnViaje">
      <soap12:operation soapAction="http://unisolutions.com.ar/ConsultarVehiculosEnViaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <http:operation location="/InsertarEvento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento">
      <http:operation location="/LoginYInsertarEvento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSession">
      <http:operation location="/InSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerComando">
      <http:operation location="/ObtenerComando" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComandoProcesado">
      <http:operation location="/ComandoProcesado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoComando">
      <http:operation location="/EstadoComando" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <http:operation location="/CambiarClave" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYCambiarClave">
      <http:operation location="/LoginYCambiarClave" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYObtenerComando">
      <http:operation location="/LoginYObtenerComando" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYComandoProcesado">
      <http:operation location="/LoginYComandoProcesado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYEstadoComando">
      <http:operation location="/LoginYEstadoComando" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculosEnViaje">
      <http:operation location="/ConsultarVehiculosEnViaje" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <http:operation location="/InsertarEvento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYInsertarEvento">
      <http:operation location="/LoginYInsertarEvento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InSession">
      <http:operation location="/InSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerComando">
      <http:operation location="/ObtenerComando" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComandoProcesado">
      <http:operation location="/ComandoProcesado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoComando">
      <http:operation location="/EstadoComando" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <http:operation location="/CambiarClave" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYCambiarClave">
      <http:operation location="/LoginYCambiarClave" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYObtenerComando">
      <http:operation location="/LoginYObtenerComando" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYComandoProcesado">
      <http:operation location="/LoginYComandoProcesado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginYEstadoComando">
      <http:operation location="/LoginYEstadoComando" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculosEnViaje">
      <http:operation location="/ConsultarVehiculosEnViaje" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://186.122.152.69/unigis_mx/MAPI/SOAP/GPS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://186.122.152.69/unigis_mx/MAPI/SOAP/GPS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://186.122.152.69/unigis_mx/MAPI/SOAP/GPS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://186.122.152.69/unigis_mx/MAPI/SOAP/GPS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>